@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    border: none;
}
    
.banner_header{
    background: black;
    
}
.banner_wrapper{
    max-width: 1540px;
    padding: 0 15px;
    margin: 0 auto;
}
.banner_header__logo{
    margin-left: 115px;
    display: inline-block;
    width: 85px;
}
.banner_header__nav{
    margin-left: 266px;
    margin-right: 170px;
    list-style-type: none;
    display: inline-block;
}
.banner_header__nav_listitem{
    margin: 30px 60px;
    float: left;
    

}
.banner_main{
    background: url(../assets/img/image.png) no-repeat center;
    backdrop-filter: 1px; 
    background-size: cover;
    height: 1026px;
    display: flex;
    flex-direction: row;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    


}
/* .banner_main:before{
    z-index:1;
    position:absolute;
    left:0;
    top:0;
    content: "";
    background: rgba(0, 0, 0, 0.5);
} */

a{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

    text-decoration: none;
    color: white;
}
.banner_main__info_logo{
    margin: 231px 530px 50px 170px;
}
.banner_main__info_title h1{
    width: 670px;
    margin-left: 170px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.banner_main__info_title hr{
    margin: 55px 530px 42px 170px;
    width: 170px;
    left: 170px;
    top: 657px;

    border: 1px solid #FFFFFF;
}
.banner_main__info_title h5{
    width: 270px;
    margin-left: 170px;
    margin-bottom: 42px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.banner_main__info_btn{
    width: 270px;
    margin-top: 42px;
    margin-left: 170px;
    border: 2px solid white;
    padding: 15px 99px;
}
.banner_main__form{
    margin-top: 208px;
    width: 470px;
    height: 450px;
    left: 870px;
    top: 283px;
    background-color: white;
    border-radius: 5px;
}
.banner_main__form h4{
    width: 367px;
    margin: 0px 53px;
    padding: 30px 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}
.banner_main__form p{
    width: 370px;
    margin: 45px 50px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #BDBDBD;

}
/* .banner_main__form span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #EC7979;
} */
.banner_main_fname,
.banner_main_femail{
    width: 370px;
    border-bottom: 1px solid #BDBDBD;
    margin: 0 
    50px;
}
.banner_main_fpassword{
    width: 370px;
    border-bottom: 1px solid #BDBDBD;
    margin: 0 50px 75px;
}
.banner_main_form_btn{
    padding: 15px 196px;
    width: 470px;
    background-color: #EC7979;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.banner_footer{
    display: flex;
    flex-direction: row;
    background-color: #F8EFEF;
    height: 140px;
}
.banner_footer__info h4{
    margin-left: 170px;
    width: 470px;
    padding: 15px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #333333;
}
.banner_footer__info p{
    width: 470px;
    margin-left: 170px;
    margin-top: 18px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #86878B;

}
.banner_footer__logos{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 30px;
}
.fa-facebook{
    margin-right: 55px;
    transition: 0.5s;
    color: #CCCCCC;;
}
.fa-facebook:hover{
    color: blue;
}
.fa-twitter{
    margin-right: 45px;
    transition: 0.5s;
    color: #CCCCCC;;
}
.fa-twitter:hover{
    transform: rotate(360deg);
    color: #1faee9;
}
.fa-linkedin {
    margin-right: 45px;
    transition: 0.5s;
    color: #CCCCCC;;
}
.fa-linkedin:hover{
    transform: scale(0.8);
    color: #0e76a8
}
.fa-pinterest {
    margin-right: 45px;
    transition: 0.5s;
    color: #CCCCCC;;
}
.fa-pinterest:hover{
    transform: skew(-0.06turn, 18deg);
    color: red;
}
.fa-instagram-square{
    margin-right: 45px;
    transition: 0.5s;
    color: #CCCCCC;;
}
.fa-instagram-square:hover{
    transform: translateY(-5px);
    color: #e56969;
}
.fa-github{
    margin-right: 45px;
    transition: 1s;
    color: #CCCCCC;;
}
.fa-github:hover{
    transform: rotate(720deg);
    color: #171515;
}
.fa-rss{
    margin-right: 182px;
    transition: 0.5s;
    color: #CCCCCC;;
}
.fa-rss:hover{
    transform: scale(1.2);
    color: #ee802f;
}